<%- include('../partials/boilerplate') %>

<div class="launch-wrapper">
    <% launches.forEach(launch => { %>
      <div class="launch">
        <div class="title-status">
          <h5><%= launch.name %></h5>
          <div class="actions">
          <a class="button_info" href="/launches/<%= launch.id %>">Info</a>
          <a class="button_edit" href="/launches/<%= launch.id %>/edit">Edit</a>
          </div>
        </div>
      </div>
    <% }) %>
    <!-- we declare the browser live route -->
    <a href="/launches/new" class="addALaunchButton">Add a Launch</a>
  </div>

 

  <%- include('../partials/end') %>

